@import url('./../Polices/IBM-PLEX/stylesheet.css');
@import url('../Polices/boxicons/boxicons-2.1.4/css/boxicons.min.css');



*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
a,a:focus,a:visited{
    color: inherit;
    text-decoration: none;

}
.app{
    display: flex;
}

body {
    
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    /* font: .9em/1.2 ,'IBM Plex Sans', */
    text-align: center;
    font-family: 'IBM Plex Sans', Helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    background-color: rgb(201, 23, 156);
    color: white;
    
}

/* Top-bar code */
.top-bar {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 12px 24px;
    color: rgba(255, 255, 255, 1);
    /* border: 1px solid black;
    border-radius: 32px;
    */


}

.top-bar .top-bar-left {
    flex-direction: row;
    display: flex;
    justify-content:flex-start;
    align-items:center ;


}

.top-bar .top-bar-right {
    flex-direction: row;
    display: flex;
    justify-content:flex-start;
    align-items:center ;
  
}

.top-bar .logo {
    margin-right: 28px;

}

.top-bar .top-links {
    display: flex;
    justify-content:center;
    align-items: center;
}

.top-bar .top-links .a {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-left: 24px;

}

.top-bar .top-links .a .bx {
    margin-right:12px;
    font-size: 24px;
    

}


.top-bar .actions-button {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 48px;
   }

.top-bar .actions-button .swicth-mode .bx {

}

.top-bar .actions-button button {
    width: 48px;
    height: 48px;
    padding: 12px;
font-size: 24px;
background-color:transparent;
color:rgba(255, 255, 255, 1);
border: none;
}

.top-bar .actions-button .button-notification .bx {}

.top-bar .user-side {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 48px;
    flex-direction: row;
    width: max-content;
    

}

.top-bar .user-side .user-info {
    display: flex;
    align-items:flex-start;
    margin-right: 24px;
    flex-direction:column;

}

.top-bar .user-side .user-name {
    display: flex;
    flex-direction: column;
    margin-right: 48px;

}

.top-bar .user-side .user-phone {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 48px;
    

}

.top-bar .user-side .user-avatar {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right:24px;
    margin-left: 16px;
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 16px;

}

/* End top-bar code  */
/* sub-menu code */
  .sub-menu {
    display: flex;
    align-items:flex-start;
    justify-content:space-between;
    flex-direction:column;
    background-color: rgb(26, 24, 24);
    width: 20vw;
    height:calc(100vh - 72px) ;
    padding: 24px;
    min-height: 768px;
    margin: 0;
    border: 1px solid black;
    border-radius: 16px;
   
   



  }
  .sub-menu .sub-links{
    display: flex;
    align-items:flex-start;
    flex-direction:column;
   justify-content:center;
   align-content: center;
   cursor: pointer;

  }
  .sub-menu .sub-links a{
padding:12px;
color:rgba(255, 255, 255, 1);
display: flex;
align-items:flex-start;
flex-direction:row;
justify-content:center;
align-content: center;


  }
  .sub-menu .sub-links a .bx{
    margin-right:12px;
    font-size: 24px;
   
  }
  .sub-menu .sub-links a:hover{
    background-color: rgba(243, 252 ,138 );
    border-radius: 12px;
    color: rgba(0, 0, 0, 1);
  }

  .sub-menu .pub-side{
background-color: rgba(151, 108, 202);
width: 100%;
height:fit-content;
padding: 12px;
border-radius: 12px;
padding-top: 52px;
position: relative;
  }
  .sub-menu .pub-side .image{
    
    background-color: antiquewhite;
    width: 64px;
    height:80px;
    position: absolute;
    top: -40px;
    left: calc(50% - 32px);
    cursor: pointer;

    
  }
  .sub-menu .pub-side .title{

    
  }
  .sub-menu .pub-side .description{
    
  }
  button{
    border-radius: 12px;
    /* background-color:rgba(0, 0, 0, 1); */
    padding: 12px 14px;
    border: none;
    cursor: pointer;
  }
  .sub-menu .pub-side button:hover{
    background-color: rgba(0, 0, 0, 1);
    color:rgba(255, 255, 255, 1) ;
    border-radius: 12px;
  }
/* End sub-menu code */
.content{
    width: 80vw;
    height:calc(100vh - 72px);
    display: flex;
    margin: 0px;
    position: relative;
}

.conversation-list {
    background-color:rgb(32,35, 43);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:24px 12px;
    height: 100%;
    width:60%;
    border: 1px solid black;
    border-radius: 32px;
    
    
    
}
.conversation-list .search-input{
    border-radius:12px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: auto;

}
.conversation-list .search-input .bx {
margin-right: 12px;
font-size: 24px;

}
.conversation-list .search-input input {
background-color: transparent;
color: rgba(255, 255, 255, 1);
border: none;
outline: none;
}
.collapse{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction:column;
    margin-bottom: 2px;
}
.collapse .collapse-header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;

}
.collapse .collapse-header span{
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;

}
.collapse .collapse-header i{
    font-size: 16px;
    font-family: 'boxicons' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;

    text-transform: none;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.collapse.opened .collapse-header i:before{ 
    content: "\ea57";
    color: rgba(255, 255, 255, 0.5);

}
.collapse.closed .collapse-header i:before{
    content: "\ea4a";
    color: rgba(255, 255, 255, 0.5);
    

}
.collapse.closed .collapse-content{
display:none;

}
.collapse.opened .collapse-content{
    display: block;
    float: left;

    margin-top:4px;
    height: auto;
    width: 100%;

}
.collapse.opened{}
.collapse.closed{}

ul.conversations{
    height: auto;
    width: 100%;
    list-style: none;
    margin: 0 0 0 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
   position:relative;

}
ul.conversations li.conversation{

 }
    ul.conversations li.conversation{ 
    height: auto;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start; 
   position:relative;
   padding: 8px;

}
ul.conversations li.conversation .friends-side{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    width: 100%;
   position:relative;
   

}
ul.conversations li.conversation .friends-side .friend-avatar{
    width: 32px;
    height: 32px;
    border-radius: 24px;
    margin-right: 8px;
    background-color: rgba(255, 255, 255, 0.5);
}
ul.conversations li.conversation .friends-side .friend-info{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    width:calc(100% - 32px - 8px - 20px);
   position:relative;
  
}
ul.conversations li.conversation .friends-side .friend-info .friend-name{
    font-weight: 600;
    font-size: 12px;
    color: rgba(255, 255, 255, 1);

}
ul.conversations li.conversation .friends-side  .friend-info .friend-number{
    font-weight: 400;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
    

   
}
ul.conversations li.conversation .friends-side  .received-time{
    font-weight: 400;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
  
}
ul.conversations li.conversation .friend-last-message{
    color: rgba(255, 255, 255, 0.5);
    padding-left:40px ;
    font-size: 14px;
}
ul.conversations li.conversation .friend-last-seen{
    color:transparent;
    padding-left:40px ;
    font-size: 12px;
    
}
ul.conversations li.conversation .friend-last-seen:hover{
    color: rgb(214, 26, 158);
    padding-left:40px ;
    font-size: 12px;
   
}






.conversation-group{

}


.convesation-content{
width: 40px;
height: calc(100vh - 40px);
margin: 0;
display: flex;
justify-content: flex-start;
flex-direction: column;
}
.friend{
    background-color:rgb(00, 00, 00);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    color: rgba(255, 255, 255, 1);
    
    
}
.friend-avatar{
    background-color: beige;
    border-color: black;
    width: 42px;
    height: 42px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    cursor: pointer;


}
.friend button{
    color: rgba(255, 255, 255, 1);
    background-color: rgb(00, 00, 00);
}
.friend .bx{
    color: rgba(255, 255, 255, 1);

}
.button-agree{
 background-color: #16171B;   
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    border-radius: 32px;
    cursor: pointer;
}
.button-agree:hover{
 background-color:rgb(37, 37, 219);   
}
.friend-left{
display: flex;
flex-direction: row;

}
.freind-right{
 display: flex;
 flex-direction: row;
 justify-content:flex-start;
 align-content: space-between;
color: red;

}
.conversation-button .actions-button{


  
}
.typing{
    background-color:#16171B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    border-color: black;
    border-radius: 24px;
    width: 100%;
    height: 12%;
    padding-left: 24px;
    margin-top:32%;
    
}
.typing button{
    background-color:#16171B;
    
    
    
}
.typing input{
    /* background-color:#16171B; */
    border-radius: 32PX;
    background-color: none;
    padding: 12px;
    color:black;
    padding-right: 68%;
}
.typing .button-action{


  
}
.typing .bx{
    color: rgba(255, 255, 255, 1);

}
.typing .bx:hover{
    color: rgba(255, 255, 255, 1);
    cursor: pointer;

}
.typing .button-send:hover{
    background-color:blue;
    width: 24px;
    height: 16PX;
    
}
.friend-message-received{
    background-color:#16171B;
    padding: bottom 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 32px;
    border-color: black;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    margin-top: 24px;
    width: 40%;
    height: auto;
}
.message{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:flex-start;
    position: absolute;
    margin-top: 24px;
    margin-left: 48px;


}
.message-sended{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border-radius: 32px;
    border-color: black;
    background-color:#B785F4;
    color:rgba(255, 255, 255, 1);
    font-size: 12px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 60%;
    width: 40%;
    height: auto;
    
    

}
  .user-avatar{
    background-color: beige;
    border-color: black;
    width: 42px;
    height: 42px;
    border-radius: 16px;
    cursor: pointer;
}
.tag{
    background-color: aliceblue;
    display:flex;
    flex-direction: column-reverse;
    align-content:center;
    justify-content: center;
}
.callapse-groupe {
    background-color: violet;
}
.conversation-info.friend-profil{
    background-color: violet;
    border-radius: 48px;
    width: 20vw;
    height: 60vh;
    cursor: pointer;
}
.friend-profil .friend-data{
    background-color: black;
    color: aliceblue;
    justify-content:row;
    display: flex;
    flex-direction:row;
    height: 48px;
    margin: 2px;
    cursor: pointer;
}
.content input{
    background-color: rgb(16, 17, 1B);
    
}
.chat{
    background-color:#1D1E24;
    border: 1px solid black;
    width: 80%;
    height:100%;
    justify-content: center;
    border-radius: 24px;
    margin-left: 10%;
}
.friend-profil{
    background-color:#5852D6;
    width:80%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    
}
.friend-profil .button-actions button{
    color: rgba(255, 255, 255, 1);
    background-color:#6963D3;
}
.search-input {
    background-color: #16171B;
}
.search-input .bx{
    color: rgba(255, 255, 255, 1);
}
.friend-info{
    display: flex;
    
}